{% extends "base.html" %}

{% block content %}

<style>
    body{
        color: white;
        font-family: 'Kanit', sans-serif;
    }
    .tit{
        color: #20bf6b;
    }
    .tit-1{
        color: rgb(240, 97, 97);
    }
    .candidate_space{
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .credentials{
        
        padding: 20px;
        border-radius: 30px;
        background-color: #543855;
        border: 1px solid white;
        width: 300px;
    }
    .credentials h3{
        text-align: center;
    }
    .appearance h3{
        text-align: center;
    }
    .wanted h3{
        text-align: center;
    }
    .appearance{
        /* position: relative;
        bottom: 510px;
        left: 400px; */
        padding: 20px;
        border-radius: 30px;
        background-color: #543855;
        border: 1px solid white;
        width: 300px;
    }
    .wanted{
        /* position: relative;
        bottom: 1135px;
        left: 800px; */
        padding: 20px;
        border-radius: 30px;
        background-color: #543855;
        border: 1px solid white;
        width: 300px;
        height: 650px;
    }
    /* .btnn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
        border:none;
        background: rgb(82, 214, 115);
        color: white;
    }
    .btnn a{
        text-decoration: none;
        color: white;
    }
    .btnn a:hover{
        text-decoration: none;
        color: white;
        background-color: hotpink;
    } */

    .btnn{
        position: relative;
        border-radius: 10px;
        background-color: rgb(25, 204, 109);
        padding: 10px;
        color: white;
        text-decoration: none;
        margin-left: 45%;
        animation: 1s ease;
        transition: 1s;
    }
    .btnn:hover{
        transition: 1s;
        animation: 1s;
        transform: scale(1.1);
        background-color: gold;
        color: white;
        text-decoration: none;
    }

    #back{
        position: relative;
        bottom: 30px;
        border-radius: 10px;
        background-color: salmon;
        color: white;
        padding: 10px;
        text-decoration: none;
        animation: 1s ease;
        box-shadow: 0 0 36px rgb(255, 81, 62) ;
    }
    #back a{
        text-decoration: none;
    }
    #back:hover{
        animation: 1s;
        background-color: white;
        color: rgb(185, 63, 63);
    }
    #name{
        display: flex;
        justify-content: center;
        padding: 20px;
        left: 38%;
        bottom: 50px;
    }
    #gold{
        color: gold;
        padding-left: 10px;
        font-weight: bold;
    }
    
</style>

<a id="back" href="{{ url_for('candi_list')}}">⌫Back</a>

<h1 id="name"> {{candi.firstname}}  <span id="gold"> {{candi.lastname}} </span></h1>

<div class="block">
    <div class="candidate_space">
        <div class="credentials">
            <h3 class="tit">General Infos</h3> <br><br>
            Profile N°{{candi.id}}<br>
            Sexe : {{candi.sexe}}<br>
            Firstname : {{candi.firstname}}<br>
            Lastname : {{candi.lastname}}<br><br>
            Phone Number : +972 {{candi.phone}}<br>
            Mail : {{candi.mail}}<br>
            Age : {{candi.age}}<br>
            Height : {{candi.height}}<br><br>
            Living City : {{candi.location}}<br>
            Nationality : {{candi.nationality}}<br>
            Origin : {{candi.origin}}<br><br>
            Frequented School : {{candi.school}}<br>
            Desired Situation : {{candi.future_job}}<br>
            
            


        </div>
        <div class="appearance">
            <h3 class="tit">Physical Appearance</h3> <br><br>
            Eye Color : {{candi.eye_color}}<br>
            Hair Color : {{candi.hair_color}}<br>
            Body Size : {{candi.body}}<br><br>
            <h3>Spiritual Level</h3><br><br>
            Level of Religion : {{candi.religion}}<br>
            Limud Torah : {{candi.torah}}<br>
            Jewish Status : {{candi.jew_status}}<br><br>
            <h3>Family Situation</h3><br><br>
            Father Situation :{{candi.father_job}}<br>
            Mother Situation :{{candi.mother_job}}<br>
            Father Origin :{{candi.father_origin}}<br>
            Mother Origin :{{candi.mother_origin}}<br>
        </div>
        <div class="wanted">
            <h3 class="tit-1">Wanted Profile</h3> <br><br>
            <h3>Physical Appearance</h3> <br><br>
            Wanted Sexe : {{candi.sexe_1}}<br>
            Wanted Eye Color : {{candi.eye_color_1}}<br>
            Wanted Hair Color : {{candi.hair_color_1}}<br>
            Wanted Body Size : {{candi.body_1}}<br><br>
            <h3>Spiritual Level</h3><br><br>
            Wanted Level of Religion : {{candi.religion_1}}<br>
            Wanted Limud Torah : {{candi.torah_1}}<br>
            Wanted Jewish Status : {{candi.jew_status_1}}<br><br>
        </div>
    </div><br>

    <a class="btnn" href="{{ url_for('comparing', candi_id = candi.id) }}">Search Matches</a> 
    <br><br>

</div>


{% endblock %}